{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Game Details{% endblock %}</h1>
{% endblock %}

{% block content %}
    
        <article class="lines">
        <header>
            <div>
            <h1>{{ data[data['id']][0] }} vs {{ data[data['id']][1] }} at {{data[data['id']][2]}}</h1>
            </div>
        </header>
        <ul>
            {% for book, offers in data[data['id']][3].items()%}
            <li>{{book}}
                <br>
                <ul>
                {{data[data['id']][0]}}: {{offers['ht_line']}}
                </ul>
                <ul>
                {{data[data['id']][1]}}: {{offers['at_line']}}
                </ul>
            </li>
            <br>
            {% endfor %}
        </ul>
        <br>
        <form method="post" action="{{url_for('bets.makeBet_ml',id=data['id'])}}">
            <label for="books">Book</label>
            <select id="books" name="books">
                {% for key in data['books'] %}
                    <option value="{{key}}">{{key}}</option>
                {% endfor %}
            </select>
            <label for="team">Team you're placing ML bet on: </label>
            <select id="team" name="team">
                <option value="{{data[data['id']][0]}}">{{data[data['id']][0]}}</option>
                <option value="{{data[data['id']][1]}}">{{data[data['id']][1]}}</option>
            </select>
            <label for="amount">Bet Amount</label>
            <input type="text" id="amount" name="amount">
            <input type="submit" value="Submit">
        </form>
        </article>
        
    
{% endblock %}