<!doctype html>
<title>{% block title %}{% endblock %} Mock Betting </title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Mock Betting</h1>
  <ul>
    {% if g.user %}
      <li><a href="{{url_for('bets.index')}}">Home</a></li>
      <li><a href ="{{url_for('bets.get_spreads')}}">Spreads</a></li>
      <li><a href="{{url_for('bets.get_ml')}}">Moneylines</a></li>
      <li><a href="{{url_for('bets.getSettledBets')}}">See Old Bets</a></li>
      <li><a href="{{url_for('bets.getUnsettledBets')}}">See Pending Bets</a></li>
      <li><a href="{{url_for('bets.add_get_Balance')}}">Add Money to Balances</a></li>
      <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
    {% else %}
      <li><a href="{{ url_for('auth.register') }}">Register</a>
      <li><a href="{{ url_for('auth.login') }}">Log In</a>
    {% endif %}
  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>